.bg-box {
    background-color: #29700A;
    width: auto;
    height: 737px;
    background-image: 
    url(../img/ground.png), 
    url(../img/lamp.png), 
    url(../img/animal.webp), 
    url(../img/donut.png), 
    url(../img/house.jpg);
    background-position: bottom, top, left, right, center;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
    background-size: 370px 200px, 70px 90px, 70px 70px, 70px 70px, 550px 400px;
}